services:
  metabase:
    image: metabase/metabase:latest
    ports:
      - "7000:7000"
    volumes:
      - metabase-data:/metabase-data
    environment:
      - MB_DB_FILE=/metabase-data/metabase.db

volumes:
  metabase-data: